.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu a {
    display: block;
    padding: 0.5em;
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    background-color: #de0d0d;
}

.menu ul li ul {
    display: none;
}

.menu ul li a:hover + ul, .menu ul li ul:hover {
    display: block;
}